The popularity-based approach focuses on finding the restaurant which reviewed the most. Then, giving recommendations to the users based on their rank. We don't use any machine learning method here.

In [2]:
import numpy as np
import pandas as pd

Let's load the data first!

In [3]:
resto_rating = pd.read_csv('data/rating_final.csv', sep=',', error_bad_lines=False, encoding="latin-1")
cols = ['rating', 'food_rating', 'service_rating']
resto_rating.drop(cols, axis=1, inplace=True)
resto_rating.head()

C:\Users\VINCEN~1\AppData\Local\Temp/ipykernel_19528/3137510988.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  resto_rating = pd.read_csv('data/rating_final.csv', sep=',', error_bad_lines=False, encoding="latin-1")

   userID  placeID  total_rating
0    1077   135085             6
1    1077   135038             5
2    1077   132825             6
3    1077   135060             5
4    1068   135104             4

Checking the data representation

In [4]:
resto_rating.head(3)

   userID  placeID  total_rating
0    1077   135085             6
1    1077   135038             5
2    1077   132825             6

Now, we count the ratings each restaurant has. Also, print it from the most to the least

In [48]:
#rating_count = (resto_rating.
#     groupby(by = ['placeID'])['total_rating'].
#     count().
#     reset_index().
#     rename(columns = {'total_rating': 'RatingCount_resto'})
#     [['placeID', 'RatingCount_resto']]
#    )
#rating_count.head()

data_grouped = resto_rating.groupby('placeID').agg({'userID':'count'}).reset_index()
data_grouped.rename(columns = {'userID': 'RatingCount_resto'}, inplace = True )
data_sort = data_grouped.sort_values(['RatingCount_resto','placeID'], ascending = False)
data_sort.head()

     placeID  RatingCount_resto
123   135085                 36
31    132825                 32
80    135032                 28
98    135052                 25
33    132834                 25

Giving rank to them

In [49]:
data_sort['Rank'] = data_sort['RatingCount_resto'].rank(ascending = 0, method = 'first')
pop_recom = data_sort
pop_recom.head()

     placeID  RatingCount_resto  Rank
123   135085                 36   1.0
31    132825                 32   2.0
80    135032                 28   3.0
98    135052                 25   4.0
33    132834                 25   5.0